{{#if @site.members_enabled}}
{{#unless @member}}
<aside class="subscribe-cta" data-animate="card">
  <div class="container subscribe-cta__inner">
    <span class="subscribe-cta__mark">{{> emblem}}</span>
    <div class="subscribe-cta__text">
      {{#if @custom.subscribe_heading}}<h2 class="subscribe-cta__title">{{@custom.subscribe_heading}}</h2>{{/if}}
      {{#if @custom.subscribe_text}}<p>{{@custom.subscribe_text}}</p>{{/if}}
    </div>
    <a class="btn btn--solid" href="#/portal/signup" data-portal="signup">Subscribe</a>
  </div>
</aside>
{{/unless}}
{{/if}}
