{{!< default}}
<section class="error container">
  <p class="eyebrow">{{statusCode}}</p>
  <h1 class="error__title">{{message}}</h1>
  <p><a class="btn btn--solid" href="{{@site.url}}">Return to the front page</a></p>
</section>
